.calendar {
  overflow-x: hidden;
}
.header {
  padding: 0 5px;
  font-size: 18px;
  font-weight: 500;
  color: #2b4450;
  line-height: 44px;
  margin: 0 calc((14.285% - 40px) / 2 + 6px);
  text-align: center;
}
.muti-month {
  max-height: 300px;
  overflow: auto;
}
.week-area {
  width: 100%;
  display: flex;
  box-shadow: 2px 2px 2px #dcdcdc;
}
.week-item {
  height: 45px;
  width: calc(100%/7);
  display: flex;
  align-items: center;
  justify-content: center;
}
.week-font {
  font-size: 15px;
  color: #2b4450;
  font-weight: 500;
}
.data-container {
  overflow: hidden;
  position: relative;
}
.month-area {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.data-item {
  width: calc(100%/7);
  align-items: center;
  justify-content: center;
  position: relative;
}
.calendar-item {
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}
.data-font {
  color: #2b4450;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
}
.hide-item {
  color: #ccc;
  opacity: 0;
}
.grey-item {
  color: #ccc;
  cursor: none;
}
.selected {
  background: #274efc;
  color: #fff;
}
.selected .calendar-item {
  color: #fff;
}
.between-selected {
  background: rgba(39,78,252, 0.28);
  color: #fff;
}
.between-selected .calendar-item {
  color: #fff;
}
.hide-item  .calendar-item{
  color: #ccc;
  opacity: 0;
}
.grey-item  .calendar-item{
  color: #ccc;
  cursor: none;
}
.data-item .block {
  width: 100%;
  display: block;
  position: absolute;
  left: 10px;
  top: 2px;
  color: #fff;
  font-size: 10px;
}